// Layout Work

.header-bar {
  height: 75px;
  margin: 0 0;
  background-color: $gordon-red;
  box-shadow: inset 0 1px 0 #eee, 0 5px 0 0 $gordon-dark-red;
  padding: .2em;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}